<div>
  <h2 id="page-heading" data-cy="MeetingHeading">
    <span>Meetings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-meeting"
        [routerLink]="['/meeting/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Meeting </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="meetings?.length === 0">
    <span>No meetings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="meetings && meetings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Meeting From</span></th>
          <th scope="col"><span>Meeting To</span></th>
          <th scope="col"><span>Offline</span></th>
          <th scope="col"><span>Room Online Link</span></th>
          <th scope="col"><span>Created Date</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Updated Date</span></th>
          <th scope="col"><span>Updated By</span></th>
          <th scope="col"><span>Room</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meeting of meetings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/meeting', meeting.id, 'view']">{{ meeting.id }}</a>
          </td>
          <td>{{ meeting.meetingFrom | formatMediumDatetime }}</td>
          <td>{{ meeting.meetingTo | formatMediumDatetime }}</td>
          <td>{{ meeting.offline }}</td>
          <td>{{ meeting.roomOnlineLink }}</td>
          <td>{{ meeting.createdDate | formatMediumDatetime }}</td>
          <td>{{ meeting.createdBy }}</td>
          <td>{{ meeting.updatedDate | formatMediumDatetime }}</td>
          <td>{{ meeting.updatedBy }}</td>
          <td>
            <div *ngIf="meeting.room">
              <a [routerLink]="['/meeting-room', meeting.room?.id, 'view']">{{ meeting.room?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/meeting', meeting.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/meeting', meeting.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(meeting)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
