<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="empJoinMeeting">
      <h2 data-cy="empJoinMeetingDetailsHeading"><span>Emp Join Meeting</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ empJoinMeeting.id }}</span>
        </dd>
        <dt><span>Emp</span></dt>
        <dd>
          <div *ngIf="empJoinMeeting.emp">
            <a [routerLink]="['/emp-mgt', empJoinMeeting.emp?.id, 'view']">{{ empJoinMeeting.emp?.id }}</a>
          </div>
        </dd>
        <dt><span>Meeting</span></dt>
        <dd>
          <div *ngIf="empJoinMeeting.meeting">
            <a [routerLink]="['/meeting', empJoinMeeting.meeting?.id, 'view']">{{ empJoinMeeting.meeting?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/emp-join-meeting', empJoinMeeting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
