<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-assets-in-room-heading" data-cy="AssetsInRoomCreateUpdateHeading">Create or edit a Assets In Room</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_room">Room</label>
          <select class="form-control" id="field_room" data-cy="room" name="room" formControlName="room">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="meetingRoomOption.id === editForm.get('room')!.value?.id ? editForm.get('room')!.value : meetingRoomOption"
              *ngFor="let meetingRoomOption of meetingRoomsSharedCollection; trackBy: trackMeetingRoomById"
            >
              {{ meetingRoomOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_asset">Asset</label>
          <select class="form-control" id="field_asset" data-cy="asset" name="asset" formControlName="asset">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="assetSetOption.id === editForm.get('asset')!.value?.id ? editForm.get('asset')!.value : assetSetOption"
              *ngFor="let assetSetOption of assetSetsSharedCollection; trackBy: trackAssetSetById"
            >
              {{ assetSetOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
