<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dayOffTicket">
      <h2 data-cy="dayOffTicketDetailsHeading"><span>Day Off Ticket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ dayOffTicket.id }}</span>
        </dd>
        <dt><span>Number Of Day Left</span></dt>
        <dd>
          <span>{{ dayOffTicket.numberOfDayLeft }}</span>
        </dd>
        <dt><span>Reason</span></dt>
        <dd>
          <span>{{ dayOffTicket.reason }}</span>
        </dd>
        <dt><span>Watcher</span></dt>
        <dd>
          <span>{{ dayOffTicket.watcher }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ dayOffTicket.status }}</span>
        </dd>
        <dt><span>From Date</span></dt>
        <dd>
          <span>{{ dayOffTicket.fromDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>To Date</span></dt>
        <dd>
          <span>{{ dayOffTicket.toDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Note</span></dt>
        <dd>
          <span>{{ dayOffTicket.note }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ dayOffTicket.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated By</span></dt>
        <dd>
          <span>{{ dayOffTicket.updatedBy }}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
          <span>{{ dayOffTicket.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Approver</span></dt>
        <dd>
          <div *ngIf="dayOffTicket.approver">
            <a [routerLink]="['/emp-mgt', dayOffTicket.approver?.id, 'view']">{{ dayOffTicket.approver?.id }}</a>
          </div>
        </dd>
        <dt><span>Approver By Ceo</span></dt>
        <dd>
          <div *ngIf="dayOffTicket.approverByCeo">
            <a [routerLink]="['/emp-mgt', dayOffTicket.approverByCeo?.id, 'view']">{{ dayOffTicket.approverByCeo?.id }}</a>
          </div>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <div *ngIf="dayOffTicket.createdBy">
            <a [routerLink]="['/emp-mgt', dayOffTicket.createdBy?.id, 'view']">{{ dayOffTicket.createdBy?.id }}</a>
          </div>
        </dd>
        <dt><span>Day Off Type</span></dt>
        <dd>
          <div *ngIf="dayOffTicket.dayOffType">
            <a [routerLink]="['/day-off-type', dayOffTicket.dayOffType?.id, 'view']">{{ dayOffTicket.dayOffType?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/day-off-ticket', dayOffTicket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
