<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-emp-join-meeting-heading" data-cy="EmpJoinMeetingCreateUpdateHeading">Create or edit a Emp Join Meeting</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_emp">Emp</label>
          <select class="form-control" id="field_emp" data-cy="emp" name="emp" formControlName="emp">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="empMgtOption.id === editForm.get('emp')!.value?.id ? editForm.get('emp')!.value : empMgtOption"
              *ngFor="let empMgtOption of empMgtsSharedCollection; trackBy: trackEmpMgtById"
            >
              {{ empMgtOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_meeting">Meeting</label>
          <select class="form-control" id="field_meeting" data-cy="meeting" name="meeting" formControlName="meeting">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="meetingOption.id === editForm.get('meeting')!.value?.id ? editForm.get('meeting')!.value : meetingOption"
              *ngFor="let meetingOption of meetingsSharedCollection; trackBy: trackMeetingById"
            >
              {{ meetingOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
