<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="empMgt">
      <h2 data-cy="empMgtDetailsHeading"><span>Emp Mgt</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ empMgt.id }}</span>
        </dd>
        <dt><span>Emp No</span></dt>
        <dd>
          <span>{{ empMgt.empNo }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ empMgt.name }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ empMgt.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ empMgt.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Dob</span></dt>
        <dd>
          <span>{{ empMgt.dob | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ empMgt.email }}</span>
        </dd>
        <dt><span>Cell Phone</span></dt>
        <dd>
          <span>{{ empMgt.cellPhone }}</span>
        </dd>
        <dt><span>Ext Number</span></dt>
        <dd>
          <span>{{ empMgt.extNumber }}</span>
        </dd>
        <dt><span>Zip Code</span></dt>
        <dd>
          <span>{{ empMgt.zipCode }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ empMgt.address }}</span>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
          <span>{{ empMgt.gender }}</span>
        </dd>
        <dt><span>Img Path</span></dt>
        <dd>
          <span>{{ empMgt.imgPath }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ empMgt.status }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ empMgt.user?.id }}</span>
        </dd>
        <dt><span>Dept</span></dt>
        <dd>
          <div *ngIf="empMgt.dept">
            <a [routerLink]="['/dept-mgt', empMgt.dept?.id, 'view']">{{ empMgt.dept?.id }}</a>
          </div>
        </dd>
        <dt><span>Duty</span></dt>
        <dd>
          <div *ngIf="empMgt.duty">
            <a [routerLink]="['/duty-mgt', empMgt.duty?.id, 'view']">{{ empMgt.duty?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/emp-mgt', empMgt.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
