<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-day-off-ticket-heading" data-cy="DayOffTicketCreateUpdateHeading">Create or edit a Day Off Ticket</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numberOfDayLeft">Number Of Day Left</label>
          <input
            type="number"
            class="form-control"
            name="numberOfDayLeft"
            id="field_numberOfDayLeft"
            data-cy="numberOfDayLeft"
            formControlName="numberOfDayLeft"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_reason">Reason</label>
          <input type="text" class="form-control" name="reason" id="field_reason" data-cy="reason" formControlName="reason" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_watcher">Watcher</label>
          <input type="text" class="form-control" name="watcher" id="field_watcher" data-cy="watcher" formControlName="watcher" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fromDate">From Date</label>
          <div class="d-flex">
            <input
              id="field_fromDate"
              data-cy="fromDate"
              type="datetime-local"
              class="form-control"
              name="fromDate"
              formControlName="fromDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_toDate">To Date</label>
          <div class="d-flex">
            <input
              id="field_toDate"
              data-cy="toDate"
              type="datetime-local"
              class="form-control"
              name="toDate"
              formControlName="toDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_updatedBy">Updated By</label>
          <input type="text" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_updatedDate">Updated Date</label>
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_approver">Approver</label>
          <select class="form-control" id="field_approver" data-cy="approver" name="approver" formControlName="approver">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="empMgtOption.id === editForm.get('approver')!.value?.id ? editForm.get('approver')!.value : empMgtOption"
              *ngFor="let empMgtOption of empMgtsSharedCollection; trackBy: trackEmpMgtById"
            >
              {{ empMgtOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_approverByCeo">Approver By Ceo</label>
          <select
            class="form-control"
            id="field_approverByCeo"
            data-cy="approverByCeo"
            name="approverByCeo"
            formControlName="approverByCeo"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="empMgtOption.id === editForm.get('approverByCeo')!.value?.id ? editForm.get('approverByCeo')!.value : empMgtOption"
              *ngFor="let empMgtOption of empMgtsSharedCollection; trackBy: trackEmpMgtById"
            >
              {{ empMgtOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <select class="form-control" id="field_createdBy" data-cy="createdBy" name="createdBy" formControlName="createdBy">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="empMgtOption.id === editForm.get('createdBy')!.value?.id ? editForm.get('createdBy')!.value : empMgtOption"
              *ngFor="let empMgtOption of empMgtsSharedCollection; trackBy: trackEmpMgtById"
            >
              {{ empMgtOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dayOffType">Day Off Type</label>
          <select class="form-control" id="field_dayOffType" data-cy="dayOffType" name="dayOffType" formControlName="dayOffType">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                dayOffTypeOption.id === editForm.get('dayOffType')!.value?.id ? editForm.get('dayOffType')!.value : dayOffTypeOption
              "
              *ngFor="let dayOffTypeOption of dayOffTypesSharedCollection; trackBy: trackDayOffTypeById"
            >
              {{ dayOffTypeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
