<div>
  <h2 id="page-heading" data-cy="MeetingRoomHeading">
    <span>Meeting Rooms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-meeting-room"
        [routerLink]="['/meeting-room/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Meeting Room </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="meetingRooms?.length === 0">
    <span>No meetingRooms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="meetingRooms && meetingRooms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Room Code</span></th>
          <th scope="col"><span>Room Name</span></th>
          <th scope="col"><span>Location</span></th>
          <th scope="col"><span>Slot</span></th>
          <th scope="col"><span>Max Slot</span></th>
          <th scope="col"><span>Created Date</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Updated Date</span></th>
          <th scope="col"><span>Updated By</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meetingRoom of meetingRooms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/meeting-room', meetingRoom.id, 'view']">{{ meetingRoom.id }}</a>
          </td>
          <td>{{ meetingRoom.roomCode }}</td>
          <td>{{ meetingRoom.roomName }}</td>
          <td>{{ meetingRoom.location }}</td>
          <td>{{ meetingRoom.slot }}</td>
          <td>{{ meetingRoom.maxSlot }}</td>
          <td>{{ meetingRoom.createdDate | formatMediumDatetime }}</td>
          <td>{{ meetingRoom.createdBy }}</td>
          <td>{{ meetingRoom.updatedDate | formatMediumDatetime }}</td>
          <td>{{ meetingRoom.updatedBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/meeting-room', meetingRoom.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/meeting-room', meetingRoom.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(meetingRoom)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
