<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dutyMgt">
      <h2 data-cy="dutyMgtDetailsHeading"><span>Duty Mgt</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ dutyMgt.id }}</span>
        </dd>
        <dt><span>Duty Code</span></dt>
        <dd>
          <span>{{ dutyMgt.dutyCode }}</span>
        </dd>
        <dt><span>Duty Name</span></dt>
        <dd>
          <span>{{ dutyMgt.dutyName }}</span>
        </dd>
        <dt><span>Use Yn</span></dt>
        <dd>
          <span>{{ dutyMgt.useYn }}</span>
        </dd>
        <dt><span>Duty Ord</span></dt>
        <dd>
          <span>{{ dutyMgt.dutyOrd }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ dutyMgt.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ dutyMgt.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated By</span></dt>
        <dd>
          <span>{{ dutyMgt.updatedBy }}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
          <span>{{ dutyMgt.updatedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/duty-mgt', dutyMgt.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
