<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="assetSet">
      <h2 data-cy="assetSetDetailsHeading"><span>Asset Set</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ assetSet.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ assetSet.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ assetSet.code }}</span>
        </dd>
        <dt><span>Updated By</span></dt>
        <dd>
          <span>{{ assetSet.updatedBy }}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
          <span>{{ assetSet.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Asset Type</span></dt>
        <dd>
          <div *ngIf="assetSet.assetType">
            <a [routerLink]="['/asset-type', assetSet.assetType?.id, 'view']">{{ assetSet.assetType?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/asset-set', assetSet.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
