<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-meeting-heading" data-cy="MeetingCreateUpdateHeading">Create or edit a Meeting</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_meetingFrom">Meeting From</label>
          <div class="d-flex">
            <input
              id="field_meetingFrom"
              data-cy="meetingFrom"
              type="datetime-local"
              class="form-control"
              name="meetingFrom"
              formControlName="meetingFrom"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_meetingTo">Meeting To</label>
          <div class="d-flex">
            <input
              id="field_meetingTo"
              data-cy="meetingTo"
              type="datetime-local"
              class="form-control"
              name="meetingTo"
              formControlName="meetingTo"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_offline">Offline</label>
          <input type="checkbox" class="form-check" name="offline" id="field_offline" data-cy="offline" formControlName="offline" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_roomOnlineLink">Room Online Link</label>
          <input
            type="text"
            class="form-control"
            name="roomOnlineLink"
            id="field_roomOnlineLink"
            data-cy="roomOnlineLink"
            formControlName="roomOnlineLink"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_updatedDate">Updated Date</label>
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_updatedBy">Updated By</label>
          <input type="text" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_room">Room</label>
          <select class="form-control" id="field_room" data-cy="room" name="room" formControlName="room">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="meetingRoomOption.id === editForm.get('room')!.value?.id ? editForm.get('room')!.value : meetingRoomOption"
              *ngFor="let meetingRoomOption of meetingRoomsSharedCollection; trackBy: trackMeetingRoomById"
            >
              {{ meetingRoomOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
