<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-day-off-user-heading" data-cy="DayOffUserCreateUpdateHeading">Create or edit a Day Off User</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dayLeft">Day Left</label>
          <input type="number" class="form-control" name="dayLeft" id="field_dayLeft" data-cy="dayLeft" formControlName="dayLeft" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dayOffType">Day Off Type</label>
          <select class="form-control" id="field_dayOffType" data-cy="dayOffType" name="dayOffType" formControlName="dayOffType">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                dayOffTypeOption.id === editForm.get('dayOffType')!.value?.id ? editForm.get('dayOffType')!.value : dayOffTypeOption
              "
              *ngFor="let dayOffTypeOption of dayOffTypesSharedCollection; trackBy: trackDayOffTypeById"
            >
              {{ dayOffTypeOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_emp">Emp</label>
          <select class="form-control" id="field_emp" data-cy="emp" name="emp" formControlName="emp">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="empMgtOption.id === editForm.get('emp')!.value?.id ? editForm.get('emp')!.value : empMgtOption"
              *ngFor="let empMgtOption of empMgtsSharedCollection; trackBy: trackEmpMgtById"
            >
              {{ empMgtOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
