<div>
  <h2 id="page-heading" data-cy="AssetHeading">
    <span>Assets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-asset"
        [routerLink]="['/asset/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Asset </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="assets?.length === 0">
    <span>No assets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="assets && assets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Code</span></th>
          <th scope="col"><span>Price</span></th>
          <th scope="col"><span>Expiry Date From</span></th>
          <th scope="col"><span>Expiry Date To</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>Image</span></th>
          <th scope="col"><span>Qr Code</span></th>
          <th scope="col"><span>Location</span></th>
          <th scope="col"><span>Note</span></th>
          <th scope="col"><span>Serial No</span></th>
          <th scope="col"><span>Guarantee</span></th>
          <th scope="col"><span>Created Date</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Updated Date</span></th>
          <th scope="col"><span>Updated By</span></th>
          <th scope="col"><span>Asset Type</span></th>
          <th scope="col"><span>Owner</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of assets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/asset', asset.id, 'view']">{{ asset.id }}</a>
          </td>
          <td>{{ asset.name }}</td>
          <td>{{ asset.code }}</td>
          <td>{{ asset.price }}</td>
          <td>{{ asset.expiryDateFrom | formatMediumDatetime }}</td>
          <td>{{ asset.expiryDateTo | formatMediumDatetime }}</td>
          <td>{{ asset.status }}</td>
          <td>{{ asset.image }}</td>
          <td>{{ asset.qrCode }}</td>
          <td>{{ asset.location }}</td>
          <td>{{ asset.note }}</td>
          <td>{{ asset.serialNo }}</td>
          <td>{{ asset.guarantee | formatMediumDatetime }}</td>
          <td>{{ asset.createdDate | formatMediumDatetime }}</td>
          <td>{{ asset.createdBy }}</td>
          <td>{{ asset.updatedDate | formatMediumDatetime }}</td>
          <td>{{ asset.updatedBy }}</td>
          <td>
            <div *ngIf="asset.assetType">
              <a [routerLink]="['/asset-type', asset.assetType?.id, 'view']">{{ asset.assetType?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="asset.owner">
              <a [routerLink]="['/emp-mgt', asset.owner?.id, 'view']">{{ asset.owner?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/asset', asset.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/asset', asset.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(asset)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
