<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dayOffUser">
      <h2 data-cy="dayOffUserDetailsHeading"><span>Day Off User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ dayOffUser.id }}</span>
        </dd>
        <dt><span>Day Left</span></dt>
        <dd>
          <span>{{ dayOffUser.dayLeft }}</span>
        </dd>
        <dt><span>Year</span></dt>
        <dd>
          <span>{{ dayOffUser.year }}</span>
        </dd>
        <dt><span>Day Off Type</span></dt>
        <dd>
          <div *ngIf="dayOffUser.dayOffType">
            <a [routerLink]="['/day-off-type', dayOffUser.dayOffType?.id, 'view']">{{ dayOffUser.dayOffType?.id }}</a>
          </div>
        </dd>
        <dt><span>Emp</span></dt>
        <dd>
          <div *ngIf="dayOffUser.emp">
            <a [routerLink]="['/emp-mgt', dayOffUser.emp?.id, 'view']">{{ dayOffUser.emp?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/day-off-user', dayOffUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
