<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-dept-mgt-heading" data-cy="DeptMgtCreateUpdateHeading">Create or edit a Dept Mgt</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_deptCode">Dept Code</label>
          <input type="text" class="form-control" name="deptCode" id="field_deptCode" data-cy="deptCode" formControlName="deptCode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_deptName">Dept Name</label>
          <input type="text" class="form-control" name="deptName" id="field_deptName" data-cy="deptName" formControlName="deptName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_parentDeptCode">Parent Dept Code</label>
          <input
            type="text"
            class="form-control"
            name="parentDeptCode"
            id="field_parentDeptCode"
            data-cy="parentDeptCode"
            formControlName="parentDeptCode"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
