<div>
  <h2 id="page-heading" data-cy="EmpMgtHeading">
    <span>Emp Mgts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emp-mgt"
        [routerLink]="['/emp-mgt/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Emp Mgt </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="empMgts?.length === 0">
    <span>No empMgts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="empMgts && empMgts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Emp No</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Start Date</span></th>
          <th scope="col"><span>End Date</span></th>
          <th scope="col"><span>Dob</span></th>
          <th scope="col"><span>Email</span></th>
          <th scope="col"><span>Cell Phone</span></th>
          <th scope="col"><span>Ext Number</span></th>
          <th scope="col"><span>Zip Code</span></th>
          <th scope="col"><span>Address</span></th>
          <th scope="col"><span>Gender</span></th>
          <th scope="col"><span>Img Path</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>User</span></th>
          <th scope="col"><span>Dept</span></th>
          <th scope="col"><span>Duty</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empMgt of empMgts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/emp-mgt', empMgt.id, 'view']">{{ empMgt.id }}</a>
          </td>
          <td>{{ empMgt.empNo }}</td>
          <td>{{ empMgt.name }}</td>
          <td>{{ empMgt.startDate | formatMediumDatetime }}</td>
          <td>{{ empMgt.endDate | formatMediumDatetime }}</td>
          <td>{{ empMgt.dob | formatMediumDatetime }}</td>
          <td>{{ empMgt.email }}</td>
          <td>{{ empMgt.cellPhone }}</td>
          <td>{{ empMgt.extNumber }}</td>
          <td>{{ empMgt.zipCode }}</td>
          <td>{{ empMgt.address }}</td>
          <td>{{ empMgt.gender }}</td>
          <td>{{ empMgt.imgPath }}</td>
          <td>{{ empMgt.status }}</td>
          <td>
            {{ empMgt.user?.id }}
          </td>
          <td>
            <div *ngIf="empMgt.dept">
              <a [routerLink]="['/dept-mgt', empMgt.dept?.id, 'view']">{{ empMgt.dept?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="empMgt.duty">
              <a [routerLink]="['/duty-mgt', empMgt.duty?.id, 'view']">{{ empMgt.duty?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/emp-mgt', empMgt.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/emp-mgt', empMgt.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(empMgt)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
