<div>
  <h2 id="page-heading" data-cy="AssetsInRoomHeading">
    <span>Assets In Rooms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-assets-in-room"
        [routerLink]="['/assets-in-room/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Assets In Room </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="assetsInRooms?.length === 0">
    <span>No assetsInRooms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="assetsInRooms && assetsInRooms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Room</span></th>
          <th scope="col"><span>Asset</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assetsInRoom of assetsInRooms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/assets-in-room', assetsInRoom.id, 'view']">{{ assetsInRoom.id }}</a>
          </td>
          <td>
            <div *ngIf="assetsInRoom.room">
              <a [routerLink]="['/meeting-room', assetsInRoom.room?.id, 'view']">{{ assetsInRoom.room?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="assetsInRoom.asset">
              <a [routerLink]="['/asset-set', assetsInRoom.asset?.id, 'view']">{{ assetsInRoom.asset?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/assets-in-room', assetsInRoom.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/assets-in-room', assetsInRoom.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(assetsInRoom)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
