<div>
  <h2 id="page-heading" data-cy="DutyMgtHeading">
    <span>Duty Mgts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-duty-mgt"
        [routerLink]="['/duty-mgt/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Duty Mgt </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dutyMgts?.length === 0">
    <span>No dutyMgts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dutyMgts && dutyMgts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Duty Code</span></th>
          <th scope="col"><span>Duty Name</span></th>
          <th scope="col"><span>Use Yn</span></th>
          <th scope="col"><span>Duty Ord</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Created Date</span></th>
          <th scope="col"><span>Updated By</span></th>
          <th scope="col"><span>Updated Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dutyMgt of dutyMgts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/duty-mgt', dutyMgt.id, 'view']">{{ dutyMgt.id }}</a>
          </td>
          <td>{{ dutyMgt.dutyCode }}</td>
          <td>{{ dutyMgt.dutyName }}</td>
          <td>{{ dutyMgt.useYn }}</td>
          <td>{{ dutyMgt.dutyOrd }}</td>
          <td>{{ dutyMgt.createdBy }}</td>
          <td>{{ dutyMgt.createdDate | formatMediumDatetime }}</td>
          <td>{{ dutyMgt.updatedBy }}</td>
          <td>{{ dutyMgt.updatedDate | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/duty-mgt', dutyMgt.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/duty-mgt', dutyMgt.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(dutyMgt)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
