<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dayOffType">
      <h2 data-cy="dayOffTypeDetailsHeading"><span>Day Off Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ dayOffType.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ dayOffType.title }}</span>
        </dd>
        <dt><span>Number Of Day</span></dt>
        <dd>
          <span>{{ dayOffType.numberOfDay }}</span>
        </dd>
        <dt><span>No Salary</span></dt>
        <dd>
          <span>{{ dayOffType.noSalary }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/day-off-type', dayOffType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
