<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="asset">
      <h2 data-cy="assetDetailsHeading"><span>Asset</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ asset.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ asset.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ asset.code }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ asset.price }}</span>
        </dd>
        <dt><span>Expiry Date From</span></dt>
        <dd>
          <span>{{ asset.expiryDateFrom | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Expiry Date To</span></dt>
        <dd>
          <span>{{ asset.expiryDateTo | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ asset.status }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <span>{{ asset.image }}</span>
        </dd>
        <dt><span>Qr Code</span></dt>
        <dd>
          <span>{{ asset.qrCode }}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <span>{{ asset.location }}</span>
        </dd>
        <dt><span>Note</span></dt>
        <dd>
          <span>{{ asset.note }}</span>
        </dd>
        <dt><span>Serial No</span></dt>
        <dd>
          <span>{{ asset.serialNo }}</span>
        </dd>
        <dt><span>Guarantee</span></dt>
        <dd>
          <span>{{ asset.guarantee | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ asset.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ asset.createdBy }}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
          <span>{{ asset.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated By</span></dt>
        <dd>
          <span>{{ asset.updatedBy }}</span>
        </dd>
        <dt><span>Asset Type</span></dt>
        <dd>
          <div *ngIf="asset.assetType">
            <a [routerLink]="['/asset-type', asset.assetType?.id, 'view']">{{ asset.assetType?.id }}</a>
          </div>
        </dd>
        <dt><span>Owner</span></dt>
        <dd>
          <div *ngIf="asset.owner">
            <a [routerLink]="['/emp-mgt', asset.owner?.id, 'view']">{{ asset.owner?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/asset', asset.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
