<div>
  <h2 id="page-heading" data-cy="DayOffUserHeading">
    <span>Day Off Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-day-off-user"
        [routerLink]="['/day-off-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Day Off User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dayOffUsers?.length === 0">
    <span>No dayOffUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dayOffUsers && dayOffUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Day Left</span></th>
          <th scope="col"><span>Year</span></th>
          <th scope="col"><span>Day Off Type</span></th>
          <th scope="col"><span>Emp</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dayOffUser of dayOffUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/day-off-user', dayOffUser.id, 'view']">{{ dayOffUser.id }}</a>
          </td>
          <td>{{ dayOffUser.dayLeft }}</td>
          <td>{{ dayOffUser.year }}</td>
          <td>
            <div *ngIf="dayOffUser.dayOffType">
              <a [routerLink]="['/day-off-type', dayOffUser.dayOffType?.id, 'view']">{{ dayOffUser.dayOffType?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dayOffUser.emp">
              <a [routerLink]="['/emp-mgt', dayOffUser.emp?.id, 'view']">{{ dayOffUser.emp?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/day-off-user', dayOffUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/day-off-user', dayOffUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(dayOffUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
