<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="assetsInRoom">
      <h2 data-cy="assetsInRoomDetailsHeading"><span>Assets In Room</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ assetsInRoom.id }}</span>
        </dd>
        <dt><span>Room</span></dt>
        <dd>
          <div *ngIf="assetsInRoom.room">
            <a [routerLink]="['/meeting-room', assetsInRoom.room?.id, 'view']">{{ assetsInRoom.room?.id }}</a>
          </div>
        </dd>
        <dt><span>Asset</span></dt>
        <dd>
          <div *ngIf="assetsInRoom.asset">
            <a [routerLink]="['/asset-set', assetsInRoom.asset?.id, 'view']">{{ assetsInRoom.asset?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/assets-in-room', assetsInRoom.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
