<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="meeting">
      <h2 data-cy="meetingDetailsHeading"><span>Meeting</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ meeting.id }}</span>
        </dd>
        <dt><span>Meeting From</span></dt>
        <dd>
          <span>{{ meeting.meetingFrom | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Meeting To</span></dt>
        <dd>
          <span>{{ meeting.meetingTo | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Offline</span></dt>
        <dd>
          <span>{{ meeting.offline }}</span>
        </dd>
        <dt><span>Room Online Link</span></dt>
        <dd>
          <span>{{ meeting.roomOnlineLink }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ meeting.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ meeting.createdBy }}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
          <span>{{ meeting.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated By</span></dt>
        <dd>
          <span>{{ meeting.updatedBy }}</span>
        </dd>
        <dt><span>Room</span></dt>
        <dd>
          <div *ngIf="meeting.room">
            <a [routerLink]="['/meeting-room', meeting.room?.id, 'view']">{{ meeting.room?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/meeting', meeting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
