<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="deptMgt">
      <h2 data-cy="deptMgtDetailsHeading"><span>Dept Mgt</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ deptMgt.id }}</span>
        </dd>
        <dt><span>Dept Code</span></dt>
        <dd>
          <span>{{ deptMgt.deptCode }}</span>
        </dd>
        <dt><span>Dept Name</span></dt>
        <dd>
          <span>{{ deptMgt.deptName }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ deptMgt.status }}</span>
        </dd>
        <dt><span>Parent Dept Code</span></dt>
        <dd>
          <span>{{ deptMgt.parentDeptCode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/dept-mgt', deptMgt.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
