<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="meetingRoom">
      <h2 data-cy="meetingRoomDetailsHeading"><span>Meeting Room</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ meetingRoom.id }}</span>
        </dd>
        <dt><span>Room Code</span></dt>
        <dd>
          <span>{{ meetingRoom.roomCode }}</span>
        </dd>
        <dt><span>Room Name</span></dt>
        <dd>
          <span>{{ meetingRoom.roomName }}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <span>{{ meetingRoom.location }}</span>
        </dd>
        <dt><span>Slot</span></dt>
        <dd>
          <span>{{ meetingRoom.slot }}</span>
        </dd>
        <dt><span>Max Slot</span></dt>
        <dd>
          <span>{{ meetingRoom.maxSlot }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ meetingRoom.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ meetingRoom.createdBy }}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
          <span>{{ meetingRoom.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated By</span></dt>
        <dd>
          <span>{{ meetingRoom.updatedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/meeting-room', meetingRoom.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
