<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="assetHistory">
      <h2 data-cy="assetHistoryDetailsHeading"><span>Asset History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ assetHistory.id }}</span>
        </dd>
        <dt><span>Updated By</span></dt>
        <dd>
          <span>{{ assetHistory.updatedBy }}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
          <span>{{ assetHistory.updatedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ assetHistory.status }}</span>
        </dd>
        <dt><span>Note</span></dt>
        <dd>
          <span>{{ assetHistory.note }}</span>
        </dd>
        <dt><span>Old Owner</span></dt>
        <dd>
          <div *ngIf="assetHistory.oldOwner">
            <a [routerLink]="['/emp-mgt', assetHistory.oldOwner?.id, 'view']">{{ assetHistory.oldOwner?.id }}</a>
          </div>
        </dd>
        <dt><span>Asset</span></dt>
        <dd>
          <div *ngIf="assetHistory.asset">
            <a [routerLink]="['/asset', assetHistory.asset?.id, 'view']">{{ assetHistory.asset?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/asset-history', assetHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
