<div>
  <h2 id="page-heading" data-cy="AssetHistoryHeading">
    <span>Asset Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-asset-history"
        [routerLink]="['/asset-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Asset History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="assetHistories?.length === 0">
    <span>No assetHistories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="assetHistories && assetHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Updated By</span></th>
          <th scope="col"><span>Updated Date</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>Note</span></th>
          <th scope="col"><span>Old Owner</span></th>
          <th scope="col"><span>Asset</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assetHistory of assetHistories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/asset-history', assetHistory.id, 'view']">{{ assetHistory.id }}</a>
          </td>
          <td>{{ assetHistory.updatedBy }}</td>
          <td>{{ assetHistory.updatedDate | formatMediumDatetime }}</td>
          <td>{{ assetHistory.status }}</td>
          <td>{{ assetHistory.note }}</td>
          <td>
            <div *ngIf="assetHistory.oldOwner">
              <a [routerLink]="['/emp-mgt', assetHistory.oldOwner?.id, 'view']">{{ assetHistory.oldOwner?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="assetHistory.asset">
              <a [routerLink]="['/asset', assetHistory.asset?.id, 'view']">{{ assetHistory.asset?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/asset-history', assetHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/asset-history', assetHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(assetHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
