<div>
  <h2 id="page-heading" data-cy="DayOffTicketHeading">
    <span>Day Off Tickets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-day-off-ticket"
        [routerLink]="['/day-off-ticket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Day Off Ticket </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dayOffTickets?.length === 0">
    <span>No dayOffTickets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dayOffTickets && dayOffTickets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Number Of Day Left</span></th>
          <th scope="col"><span>Reason</span></th>
          <th scope="col"><span>Watcher</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>From Date</span></th>
          <th scope="col"><span>To Date</span></th>
          <th scope="col"><span>Note</span></th>
          <th scope="col"><span>Created Date</span></th>
          <th scope="col"><span>Updated By</span></th>
          <th scope="col"><span>Updated Date</span></th>
          <th scope="col"><span>Approver</span></th>
          <th scope="col"><span>Approver By Ceo</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Day Off Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dayOffTicket of dayOffTickets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/day-off-ticket', dayOffTicket.id, 'view']">{{ dayOffTicket.id }}</a>
          </td>
          <td>{{ dayOffTicket.numberOfDayLeft }}</td>
          <td>{{ dayOffTicket.reason }}</td>
          <td>{{ dayOffTicket.watcher }}</td>
          <td>{{ dayOffTicket.status }}</td>
          <td>{{ dayOffTicket.fromDate | formatMediumDatetime }}</td>
          <td>{{ dayOffTicket.toDate | formatMediumDatetime }}</td>
          <td>{{ dayOffTicket.note }}</td>
          <td>{{ dayOffTicket.createdDate | formatMediumDatetime }}</td>
          <td>{{ dayOffTicket.updatedBy }}</td>
          <td>{{ dayOffTicket.updatedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="dayOffTicket.approver">
              <a [routerLink]="['/emp-mgt', dayOffTicket.approver?.id, 'view']">{{ dayOffTicket.approver?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dayOffTicket.approverByCeo">
              <a [routerLink]="['/emp-mgt', dayOffTicket.approverByCeo?.id, 'view']">{{ dayOffTicket.approverByCeo?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dayOffTicket.createdBy">
              <a [routerLink]="['/emp-mgt', dayOffTicket.createdBy?.id, 'view']">{{ dayOffTicket.createdBy?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dayOffTicket.dayOffType">
              <a [routerLink]="['/day-off-type', dayOffTicket.dayOffType?.id, 'view']">{{ dayOffTicket.dayOffType?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/day-off-ticket', dayOffTicket.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/day-off-ticket', dayOffTicket.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(dayOffTicket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
