<div>
  <h2 id="page-heading" data-cy="EmpJoinMeetingHeading">
    <span>Emp Join Meetings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emp-join-meeting"
        [routerLink]="['/emp-join-meeting/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Emp Join Meeting </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="empJoinMeetings?.length === 0">
    <span>No empJoinMeetings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="empJoinMeetings && empJoinMeetings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Emp</span></th>
          <th scope="col"><span>Meeting</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empJoinMeeting of empJoinMeetings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/emp-join-meeting', empJoinMeeting.id, 'view']">{{ empJoinMeeting.id }}</a>
          </td>
          <td>
            <div *ngIf="empJoinMeeting.emp">
              <a [routerLink]="['/emp-mgt', empJoinMeeting.emp?.id, 'view']">{{ empJoinMeeting.emp?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="empJoinMeeting.meeting">
              <a [routerLink]="['/meeting', empJoinMeeting.meeting?.id, 'view']">{{ empJoinMeeting.meeting?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/emp-join-meeting', empJoinMeeting.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/emp-join-meeting', empJoinMeeting.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(empJoinMeeting)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
