<div>
  <h2 id="page-heading" data-cy="AssetSetHeading">
    <span>Asset Sets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-asset-set"
        [routerLink]="['/asset-set/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Asset Set </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="assetSets?.length === 0">
    <span>No assetSets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="assetSets && assetSets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Code</span></th>
          <th scope="col"><span>Updated By</span></th>
          <th scope="col"><span>Updated Date</span></th>
          <th scope="col"><span>Asset Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assetSet of assetSets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/asset-set', assetSet.id, 'view']">{{ assetSet.id }}</a>
          </td>
          <td>{{ assetSet.name }}</td>
          <td>{{ assetSet.code }}</td>
          <td>{{ assetSet.updatedBy }}</td>
          <td>{{ assetSet.updatedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="assetSet.assetType">
              <a [routerLink]="['/asset-type', assetSet.assetType?.id, 'view']">{{ assetSet.assetType?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/asset-set', assetSet.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/asset-set', assetSet.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(assetSet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
